body{
    background-color: #281E5D;
}
table td {
	border: 1px solid #000;
}
table tr:first-child th { /* primera fila */
	border-top: none;
  background-color: #281E5D;
}
table tr:last-child td { /* ultima fila */
	border-bottom: none;
}
table th:first-child,
table td:first-child { /* primera columna */
	border-left: none;
}
table th:last-child,
table td:last-child { /* ultima columna */
	border-right: none;
}
@media only screen and (min-width: 1000px) {
  #home{
    margin: 0px 250px 50px 250px;
    background-color: white;
  }
  #home-title{
      margin: 50px 250px 10px;
      color: white;
  }
}
@media only screen and (max-width: 1000px) {
  #home{
    margin: 0px;
    background-color: white;
  }
  #home-title{
      margin: 50px 50px 10px;
      color: white;
  }
}
#page-content{
    padding-top: 15px;
    padding-bottom: 15px;
}
nav{
    background-color: #9C9496;
    font-size: 18px;
}
.navbar-brand{
    font-size: 24px;
}
.navbar-text li{
    text-align: center;
}
